vault_traefik_password: '{{ vault_traefik_password }}'
vault_dnsChallenge_user_password: '{{ vault_dnsChallenge_user_password }}'
vault_dnsChallenge_user_access_key_id: '{{ vault_dnsChallenge_user_access_key_id }}'
vault_dnsChallenge_user_secret_access_key: '{{ vault_dnsChallenge_user_secret_access_key }}'