vault_borg_encrypt_password: '{{ vault_borg_encrypt_password }}'
vault_s3backup_user_password: '{{ vault_s3backup_user_password.stdout }}'
vault_s3backup_user_access_key_id: '{{ vault_s3backup_user_access_key_id }}'
vault_s3backup_user_secret_access_key: '{{ vault_s3backup_user_secret_access_key }}'